._4t59{background-color:#fff;border-bottom:0;line-height:0}._3_xg{padding:0 24px 32px 24px}
.sp_-xFjQ1jEzCN{background-image:url(/rsrc.php/v3/ys/r/wRrfDDsMgpB.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_-xFjQ1jEzCN.sx_eb46aa{background-position:0 0}.sp_-xFjQ1jEzCN.sx_fcc55f{background-position:0 -21px}

#bootloader_WvaXx{height:42px;}.bootloader_WvaXx{display:block!important;}