._5ww2{color:#4b4f56;font-weight:bold}
.sp_glDQcwegnfT{background-image:url(/rsrc.php/v3/yp/r/FgB-DB6BJec.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_glDQcwegnfT.sx_ba64f9{background-position:0 0}.sp_glDQcwegnfT.sx_07fa71{background-position:0 -17px}

#bootloader_67OzC{height:42px;}.bootloader_67OzC{display:block!important;}