._2zx9{padding-top:32px}._2zxa{margin-top:32px}._2zx6{background-color:#f2f3f5;border:1px solid #444950;border-radius:50%;height:24px;margin-right:16px;width:24px}._13av{background-color:#f2f3f5;border-bottom:1px solid #ccd0d5;width:100%}._2zxb{padding:28px 0 60px 160px;width:720px}
._2-u_{padding:20px 0 100px 0}._2-v0{float:left;margin:8px 12px 0 0}

#bootloader_fpNj_{height:42px;}.bootloader_fpNj_{display:block!important;}