._3ps1{display:block}._3ps2{display:none}
._16qp{color:#000;font-size:14px}._16qp._16qq{font-size:18px}._16qo{color:#929598}._16qr{font-size:14px}
._557c{max-height:58px;overflow:auto}
._6hjz{background-color:#fff;border:1px solid #dadde1;border-radius:3px;margin-right:12px;min-height:484px;width:440px}._6hjy{border-bottom:1px solid #dadde1;height:36px;margin-bottom:4px;width:100%}._6kfi{padding:0 8px}._6hj-{width:424px}._6hj_{border-radius:8px;padding-top:4px;width:424px}._6hjk ._554b{font-size:12px}
._379_ ._5eb4{margin:0}
._m95{min-height:20px}._1grk{border-bottom:1px black;padding-top:12px;text-align:right;width:100%}._1grl{color:#e9eaeb;padding:0 8px}._2fxi ._554b{font-size:14px}._m96{font-size:12px}._2ce7{background-color:#eef6fd;border:1.4px solid #5890ff;border-radius:2px;line-height:130%;padding:15px 12px 12px 20px}._2ce7 li{line-height:200%;list-style-type:disc;margin-left:20px}._2ce7 ul{padding:4px 0}._2ce6{font-size:14px;font-weight:bold;line-height:16px;padding:8px 0 12px 0}
._3g78{min-height:1.6em}
._3pci ._55pe{width:90%}
._5c5m{background-image:url(/rsrc.php/v3/yR/r/yCIKjlGJ2D0.png);background-position:left center;background-repeat:no-repeat;background-sized:fixed;display:inline-block;margin-bottom:2px;margin-right:1em;padding-left:1em}
._5a8u._2tur{background-color:#f5f7f8;margin:0;padding:8px}
._5v_d button{min-width:30px}

#bootloader_rIT_J{height:42px;}.bootloader_rIT_J{display:block!important;}