._3vu0{display:block;margin:auto;max-width:100%}
.sp_opQ0V9KBQ6a{background-image:url(/rsrc.php/v3/y-/r/9uOKik8pZmp.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_opQ0V9KBQ6a.sx_c7be3b{background-position:0 0}.sp_opQ0V9KBQ6a.sx_c59ca7{background-position:0 -17px}.sp_opQ0V9KBQ6a.sx_172656{background-position:0 -34px}

#bootloader_Ha2wk{height:42px;}.bootloader_Ha2wk{display:block!important;}